{% extends "base.html" %}

{% block title %}Naidong Zhang's Portfolio{% endblock %}

{% block head %}
    {{super()}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}


{% block page_content %}

<header id="header">
    <img src="https://c.pxhere.com/photos/8f/77/good_morning_start_of_day_coffee_beans_wood_panel_stress_hustle_and_bustle_start_brown-625548.jpg!d" srcset="https://c.pxhere.com/photos/8f/77/good_morning_start_of_day_coffee_beans_wood_panel_stress_hustle_and_bustle_start_brown-625548.jpg!d" alt="coffee, sun, banner, brown, drink, start, caffeine, art, calligraphy, carving, stress, benefit from, sunbeam, saying, coffee beans, hustle and bustle, good morning, header, head image, start of day, wood panel, be awake, Free Images In PxHere">

    <nav id="header-nav">
        <ul>
            <li><a href="{{ url_for('main.home') }}">Home</a></li>
            <li><a href="{{ url_for('main.projects') }}">Projects</a></li>
            <li><a href="{{ url_for('main.contact') }}">Contact</a></li>
        </ul>
    </nav>
</header>

{% block index_content %}{% endblock %}

<footer id="footer">
    <nav id="footer-nav">
        <ul>
            <li><a href="{{ url_for('main.home') }}">Home</a></li>
            <li><a href="{{ url_for('main.projects') }}">Projects</a></li>
            <li><a href="{{ url_for('main.contact') }}">Contact</a></li>
        </ul>
    </nav>
</footer>

{% endblock %}
