{% extends "index.html" %}

{% block index_content %}

<main id="main">
    <h1>My Projects</h1>

    <br>
    <div class="row">
        <div class="col-xs-3 col-md-2">
            <img width="120" src="https://apps.mpi.mb.ca/comms/drivershandbook/img/construction-area.svg" alt="Construction area">
        </div>
        <div class="col-xs-3 col-md-2">
            <img width="120" src="https://apps.mpi.mb.ca/comms/drivershandbook/img/road-work.svg" alt="Road work sign">
        </div>
        <div class="col-xs-12 col-md-8">
            <p class="h2"><br>Under construction, please wait...</p>
        </div>
    </div>

</main>

{% endblock %}
