{% extends "index.html" %}

{% block index_content %}

<main id="main">
    <h1>My Projects</h1>

    <article>
        <h2>Virtual Reality Demo</h2>
        <figure>
            <iframe title="VR Demo" width="447" height="324" src="{{ url_for('static', filename='img/vr.mp4') }}" allowfullscreen loading="lazy"></iframe>
        </figure>
        <p>This is a demo video of my previous work as a VR programmer in Longtek (The company's English name changes to Long Teknik now). My colleague was wearing full-body motion capture equipment and digital gloves for capturing his hands' gestures, as well as wearing an old-school VR helmet. The software rendering the VR environment is Virtools, an old-school VR platform compared to Unity3D or Unreal. I programmed the algorithms retrieving data from hardware, calculating, sending to and driving the avatar to move in real-time, and also some simple interactive triggers in the script. My colleague remodelled these 3D models to reduce the number of triangles so that the software could run smoothly.</p>
        <div class="clear"></div>
    </article>

    <article>
        <a href="{{ url_for('cfst.cfst') }}" target="_blank">
            <h2>Similarity Test of Couple's Faces</h2>
            <figure>
                <img width="400" src="{{ url_for('static', filename='img/cfst-demo.jpg') }}" alt="cfst demo">
            </figure>
        </a>
        <p>This application combines what I learned at work, in school, and by myself. First, I used OpenVINO to convert and optimize open-source deep-learning models to make them run fast in CPU as long as the server's CPUs are Intel. Then I integrated these models into the Python server program. Since the deep-learning calculation is both time-and-resource-consuming, I combined the back-end framework using Nginx, supervisor, gunicorn, and Flask from outside to inside. On the front-end side, the Javascript functions do some pre-processing work to reduce server's stress and then send and receive JSON data in a RESTful way.</p>
        <div class="clear"></div>
    </article>


    <br>
    <div class="row">
        <div class="col-xs-3 col-md-2">
            <img width="120" src="https://apps.mpi.mb.ca/comms/drivershandbook/img/construction-area.svg" alt="Construction area">
        </div>
        <div class="col-xs-3 col-md-2">
            <img width="120" src="https://apps.mpi.mb.ca/comms/drivershandbook/img/road-work.svg" alt="Road work sign">
        </div>
        <div class="col-xs-12 col-md-8">
            <p class="h2"><br>Construction is underway in the front, please wait or detour...</p>
        </div>
    </div>

</main>

{% endblock %}
